.site-header {
  background-color: #f8f9fa;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.site-header .menu {
  display: flex;
  justify-content: space-between;
}

.site-header .menu a {
  color: #333;
  text-decoration: none;
  font-size: 18px;
  font-weight: 600;
  margin-right: 20px;
}

.site-header .menu a:hover {
  color: #007bff;
}

.site-header .menu a.textHeader {
  font-size: 24px;
  font-weight: 700;
}